/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */
body {
  background-color: #f5f5f0; }

p {
  color: rgba(54, 54, 54, 0.8); }

/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */
/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */
/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */
/*footer{
  width: 100%;
  display: flex;
  background-color:#f8f9fa;
  color: rgba(0,0,0,.55);
  height: 70px;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8;
  a{
    color:  rgba(0,0,0,.55);
  }
  a:hover{
    text-decoration: none;
  }

}
 */
footer {
  background-color: yellow;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8rem;
}
footer a {
  color: rgba(0, 0, 0, 0.55);
}
footer a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 765px) {
  footer {
    display: none;
  }
}
body {
  background-color: rgb(245, 245, 240);
  margin: 0;
}

nav {
  display: block;
}

header h1 {
  font-family: "Avenir Next", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
  color: rgb(107, 189, 201);
}

main {
  margin-top: 50px;
}
main h5 {
  color: rgb(30, 25, 25);
}
main p.quote {
  color: rgba(54, 54, 54, 0.8);
  font-size: 16px;
}
main p.accent {
  color: rgb(107, 189, 201);
}
main img.round {
  width: 150px;
  height: 150px;
}

.navbar-brand {
  flex: 7;
  padding-left: 40px;
  position: sticky;
}

.nav-item {
  margin-right: 10px;
}

.team4 {
  color: #8d97ad;
  font-weight: 300; }

.team4 h2, .team4 h5, .team4 h6 {
  color: #3e4555; }

.team4 .font-weight-medium {
  font-weight: 500; }

.team4 h5 {
  line-height: 22px;
  font-size: 18px; }

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px; }

rounded circle {
  border-radius: 50% 200%; }

.team4 h1 {
  font-family: "Avenir Next", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
  color: rgb(107, 189, 201);
}

footer {
  background-color: yellow;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
<<<<<<< HEAD
  line-height: 1.8; }
  footer a {
    color: rgba(0, 0, 0, 0.55); }
  footer a:hover {
    text-decoration: none; }

@media only screen and (max-width: 765px) {
  footer {
    display: none; } }
=======
  line-height: 1.8rem;
}

>>>>>>> 86da869bc93175b2ec67f01bce968a973fdde462
/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 150px;
}

.box {
  width: 1500px;
  margin: 15% auto;
  bottom: 200px;
  position: relative; }

#card-container {
  position: relative;
  margin: 30px;
  width: 300px;
  height: 400px;
  z-index: -1;
  float: left;
  perspective: 1000px; }

img {
  width: 300px;
  height: 400px; }

#card, #card2, #card3, #card4 {
  width: 100%;
  height: 100%;
  margin: 10%;
  transform-style: preserve-3d;
  transition: all .8s linear;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); }

#card:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3); }

#card2:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3); }

#card3:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3); }

#card4:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3); }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
  opacity: .7;
  background: #F9F3E4; }

.date {
  color: #6bbdc9; }

header h1 {
  font-family: "Avenir Next", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
  color: #6bbdc9;
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  padding-top: 50px; }
=======
  padding-top: 100px;
}
>>>>>>> 86da869bc93175b2ec67f01bce968a973fdde462
header main {
  height: 75vh; }
  header main h5 {
    color: #1e1919; }
  header main p.quote {
    color: rgba(54, 54, 54, 0.8);
    font-size: 16px; }
  header main p.accent {
    color: #6bbdc9; }
header .navbar-brand {
  flex: 7;
  padding-left: 40px;
  position: sticky; }
header .nav-item {
  margin-right: 10px; }

<<<<<<< HEAD
@media (max-width: 1024px) {
  main {
    display: flex;
    padding-top: 100px; } }
=======
@media (max-width: 1200px) {
  .container .card {
    margin-bottom: 30px;
  }
}
>>>>>>> 86da869bc93175b2ec67f01bce968a973fdde462

@media (min-width: 768px) {
  .container .card {
    margin-bottom: 30px;
  }
}

.card {
  min-height: 650px;
}

/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */
.navbar-brand {
  flex: 7;
  padding-left: 40px;
<<<<<<< HEAD
  position: sticky; }
  .navbar-brand img {
    width: 20px;
    height: 20px; }
=======
  position: sticky;
}
.navbar-brand img {
  width: 20px;
  height: 20px;
}
>>>>>>> 86da869bc93175b2ec67f01bce968a973fdde462

.nav-item {
  margin-right: 10px; }

.wrapper {
  margin: 0 auto; }

.navbar,
.navbar-expand-lg {
  z-index: 1;
  position: fixed;
  width: 100%;
<<<<<<< HEAD
  top: 0; }
=======
}
>>>>>>> 86da869bc93175b2ec67f01bce968a973fdde462

.img-container-grid {
  display: flex;
  flex-wrap: wrap; }

.smallsquare {
  max-width: 20%;
  height: auto;
  flex: 0 0 20%;
  padding-top: 20%;
  display: grid;
  position: relative; }

.h_rectangle {
  max-width: 40%;
  flex: 0 0 40%;
  padding-top: 20%;
  position: relative; }

.bigsquare {
  max-width: 40%;
  height: auto;
  flex: 0 0 40%;
  padding-top: 40%;
  display: grid;
<<<<<<< HEAD
  position: relative; }

.bigsquare_blank {
  max-width: 40%;
  height: auto;
  flex: 0 0 40%;
  display: flex;
  flex-wrap: wrap; }

.inner_square {
  max-width: 50%;
  flex: 0 0 50%;
  height: 50%;
  position: relative; }

.v_rectangle {
  max-width: 20%;
  flex: 0 0 20%;
  padding-top: 40%;
  position: relative; }

.img-grid-c {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
  padding: 2.5px; }
=======
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}
>>>>>>> 86da869bc93175b2ec67f01bce968a973fdde462

.footer-codematra {
  background: #f8f9fa;
  color: rgba(0, 0, 0, 0.55);
  width: 100%;
  text-align: center;
}

.footer-codematra a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.footer-codematra p {
  text-align: center;
  margin: 0;
  font-size: 14px;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

<<<<<<< HEAD
=======
@media only screen and (max-width: 600px) {
  .footer-codematra {
    display: none;
  }
}
>>>>>>> 86da869bc93175b2ec67f01bce968a973fdde462
/* Override UGG site */
#main {
  width: 100%;
  padding: 0; }

.content-asset p {
  margin: 0 auto; }

.breadcrumb {
  display: none; }

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px; }

.margin-bot-10 {
  padding-bottom: 10px; }

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0; }

#parallax-world-of-ugg h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9; }

#parallax-world-of-ugg h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black; }

#parallax-world-of-ugg p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px; }

.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif; }

.sc {
  color: #3b8595; }

.ny {
<<<<<<< HEAD
  color: #6bbdc9; }
=======
  color: rgb(107, 189, 201);
}
>>>>>>> 86da869bc93175b2ec67f01bce968a973fdde462

.atw {
  color: #c48660; }

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center; }

#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px; }

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify; }

#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px; }

#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70; }

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1415018255745-0ec3f7aee47b?dpr=1&auto=format&fit=crop&w=1500&h=938&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid rgb(107, 189, 201);
  width: 150px;
  margin: 0 auto; }

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px; } }
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px; }

  #parallax-world-of-ugg h2 {
    font-size: 30px; }

  #parallax-world-of-ugg .block {
    padding: 30px; }

  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px; } }
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px; } }
@media (max-width: 1024px) {
  main {
    padding-top: 100px;
    display: block; } }
@media only screen and (max-width: 600px) {
  .footer-codematra {
    display: none; } }
.popsmoke {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1517457373958-b7bdd4587205?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin: 400px;
  padding: 50px;
  width: 60%; }

/*# sourceMappingURL=style.css.map */
