/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */
body {
  background-color: rgb(245, 245, 240);
}

p {
  color: rgba(54, 54, 54, 0.8);
}

/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */
<<<<<<< HEAD
.team4 {
  color: #8d97ad;
  font-weight: 300;
}

.team4 h2, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
=======
.profile-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px #222;
  top: 150px;
}

.profile.profile-img img {
  width: 100%;
  height: auto;
  transition: transform 1s;
  aspect-ratio: auto;
}

.profile-card .profile-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 40%;
  border: 3px solid #333;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: scale(1, 1);
  transition: all 0.5s linear;
}

.profile-card .profile-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 40%;
  border: 3px solid #222;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  transition: all 0.5s linear;
}

.profile-card:hover .profile-content:before {
  top: 20px;
  left: 20px;
}

.profile-card:hover .profile-content:after {
  bottom: 20px;
  right: 20px;
}

.profile-card .profile-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50% 4%;
  text-align: center;
}

.profile-card .profile-content:hover {
  background-color: rgba(0, 201, 255, 0.5);
}

.profile-card .profile-content .title {
  font-size: 24px;
  color: #333;
  opacity: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(-100px);
  transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}

.profile-card:hover .title {
  opacity: 1;
  transform: translateY(0);
}

.profile-card:hover .title::after {
  content: "";
  display: block;
  width: 50%;
  margin: 10px auto;
  border-bottom: 2px solid #222;
}

.profile-card .profile-content .title > span {
  display: block;
  margin: 5px 0;
  font-size: 14px;
  text-transform: capitalize;
}

.profile-card .profile-content .social-link {
  margin: 20px 0;
  padding: 0;
  opacity: 0;
  transform: translateY(100px);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}

.profile-card:hover .social-link {
  opacity: 1;
  transform: translateY(0);
}

.profile-card .profile-content .social-link li {
  display: inline-block;
  list-style: none;
  margin: 0 4px;
}

.profile-card .profile-content .social-link li a {
  color: #333;
  width: 30px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
>>>>>>> 91aeeeb7301a0165ddb3c5b58e17fb797f56dd00
}

rounded circle {
  border-radius: 50% 200%;
}

.container-team {
  padding: 30px;
}

footer {
  width: 100%;
  display: flex;
  background-color: #f8f9fa;
  color: rgba(0, 0, 0, 0.55);
  height: 70px;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8;
}
footer a {
  color: rgba(0, 0, 0, 0.55);
}
footer a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 765px) {
  footer {
    display: none;
  }
}
/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */
.box {
  width: 1500px;
  margin: 15% auto;
  bottom: 200px;
  position: relative;
}

#card-container {
  position: relative;
  margin: 30px;
  width: 300px;
  height: 400px;
  z-index: 1;
  float: left;
  perspective: 1000px;
}

img {
  width: 300px;
  height: 400px;
}

#card, #card2, #card3, #card4 {
  width: 100%;
  height: 100%;
  margin: 10%;
  transform-style: preserve-3d;
  transition: all 0.8s linear;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#card:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}

#card2:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}

#card3:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}

#card4:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
  opacity: 0.7;
  background: #F9F3E4;
}

.date {
  color: rgb(107, 189, 201);
}
<<<<<<< HEAD
=======

header h1 {
  font-family: "Avenir Next", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
  color: rgb(107, 189, 201);
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
header main {
  height: 75vh;
}
header main h5 {
  color: rgb(30, 25, 25);
}
header main p.quote {
  color: rgba(54, 54, 54, 0.8);
  font-size: 16px;
}
header main p.accent {
  color: rgb(107, 189, 201);
}
header .navbar-brand {
  flex: 7;
  padding-left: 40px;
  position: sticky;
}
header .nav-item {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  main {
    display: flex;
    padding-top: 100px;
  }
}
>>>>>>> 91aeeeb7301a0165ddb3c5b58e17fb797f56dd00

.navbar-brand {
  flex: 7;
  padding-left: 40px;
  position: sticky;
}

.nav-item {
  margin-right: 10px;
}

.wrapper {
  margin: 0 auto;
}

/* Override UGG site */
#main {
  width: 100%;
  padding: 0;
}

.content-asset p {
  margin: 0 auto;
}

.breadcrumb {
  display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}

.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}

#parallax-world-of-ugg h2 {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}

#parallax-world-of-ugg h3 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}

#parallax-world-of-ugg p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.sc {
  color: #3b8595;
}

.ny {
  color: #3d3c3a;
}

.atw {
  color: #c48660;
}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}

#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1415018255745-0ec3f7aee47b?dpr=1&auto=format&fit=crop&w=1500&h=938&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }

  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }

  #parallax-world-of-ugg .block {
    padding: 30px;
  }

  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}
.popsmoke {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1517457373958-b7bdd4587205?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin: 400px;
  padding: 50px;
  width: 60%;
}

/*
    ===== BACKGROUND COLOR =====
 */
/*
    ===== TEXT COLORS =====
 */
/*
    ===== ACCENT COLOR =====
 */

/*# sourceMappingURL=style.css.map */
