/*
    ===== BACKGROUND COLOR =====
 */

$bg: rgba( 245, 245, 240, 1);


/*
    ===== TEXT COLORS =====
 */

$h-mc: rgba( 30, 25, 25, 1);
$p-mc: rgba( 54, 54, 54, 0.8);

/*
    ===== ACCENT COLOR =====
 */

$blue: rgba( 107, 189, 201, 1);