@import "colors";

@import "testimonials";

.team4 {
  color: #8d97ad;
  font-weight: 300;
}

.team4 h2,.team4 h5,.team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}

rounded circle{
  border-radius: 50% 200%;
}

@media only screen and (max-width: 950px) {

}
.team4 h1{
  font-family: "Avenir Next", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
  color: $blue;
}
footer{
  background-color: yellow;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8rem;
}
header{

    h1 {
      font-family: "Avenir Next", sans-serif;
      text-transform: uppercase;
      font-weight: bolder;
      font-style: italic;
      color: $blue;
      display: flex;
      justify-content: center;
      padding-top: 100px;

    }

    main {
      height: 75vh;

      h5 {
        color: $h-mc;
      }

      p.quote {
        color: $p-mc;
        font-size: 16px;
      }

      p.accent {
        color: $blue;
      }
    }
}
