@import "colors";

body {
  background-color: $bg;
  margin: 0;
}

header {

  h1 {
    font-family: "Avenir Next", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-style: italic;
    color: $blue;
  }
}

main {
  margin-top: 50px;

  h5 {
    color: $h-mc;
  }

  p.quote{
    color: $p-mc;
    font-size: 16px;
  }

  p.accent {
    color: $blue;
  }
}

.navbar-brand {
  flex: 7;
  padding-left: 40px;
  position: sticky;
}

.nav-item {
  margin-right: 10px;
}

footer{
  background-color: yellow;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8rem;

  a{
    color:  rgba(0,0,0,.55);
  }

  a:hover{
    text-decoration: none;
  }

}